data/raw_datasets/*
data/processed_data/yelp_data/*
*.db
*.csv
src/__pycache__/*
*.xlsx
*.pyc
src/Result_Evaluation/temp.txt
src/Result_Evaluation/results.json
src/Models_Deep_FM/__pycache__/DeepFM.cpython-311.pyc
*.zip
/data/processed_data/cluster_data
src/data_processing/clustered_user_df.pkl
src/Models_Cluster/__pycache__/cluster_utils.cpython-311.pyc
src/Models_Cluster/cluster_data/clustered_user_df.pkl
