<!-- templates/item_cf.html -->
{% extends 'base.html' %}

{% block title %}
    ItemCF Recommendations
{% endblock %}

{% block content %}
    <h2>ItemCF Business Recommendations</h2>

    <form id="ItemCF_recommendationForm">
        <label for="userId">Enter User ID:</label>
        <input type="text" id="userId" name="user_id" required>
        <button type="submit">Get Recommendations</button>
    </form>

    <div id="results"></div>

    <!-- Import external JavaScript for fetching recommendations -->
    <script type="module" src="../static/js/fetch_ItemCF_results.js"></script>
{% endblock %}
